:root {
    --primary:black;
    --secondary:white;
    --active:lightgray;
}

.dark-mode {
    --primary:white;
    --secondary:#121212;
}

body {
    background-color: var(--secondary);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body * {
    color: var(--primary);
    background-color: var(--secondary);
    font-family: 'Righteous', cursive;
}

.menu-container, .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container > * + * {
    margin-top: 2rem;
}

.logo {
    box-sizing: border-box;
    width: 128px;
    height: 128px;
    font-size: 24px;
    padding: 19px 13px;
    border: 2px solid var(--primary);
}

.menu > * + * {
    margin-top: 1rem;
}

button {
    cursor: pointer;
    background-color: var(--secondary);
    border: solid var(--primary) 2px;
}

.menu-button {
    width: 8rem;
    height: 3.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-button:active {
    background-color: var(--active);
    transform: scale(0.95);
}

.dark-mode-button {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.4rem;
}

.dark-mode-button > svg {
    width: 100%;
    height: 100%;
}

path {
    fill: var(--primary);
}

rect {
    stroke: var(--primary);
}

@media screen and (min-width: 481px) {
    .menu-container > * + * {
        margin-top: 4rem;
    }

    .logo {
        font-size: 3rem;
        width: 240px;
        height: 240px;
        padding: 30px 19px;
    }

    .menu > * + * {
        margin-top: 2rem;
    }
    
    .menu-button {
        width: 10rem;
        height: 4.5rem;
        font-size: 1.5rem;
    }

    .menu-button:hover {
        transform: scale(1.1)
    }

    .menu-button:active {
        transform: scale(1.05)
    }

    .dark-mode-button {
        bottom: 4rem;
        right: 4rem;
    }
}
